body
{
    background-color: whitesmoke;
    flex: 1;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Montserrat', sans-serif;
    color: #21313f; /* Couleur des titres */
}

h1, h2, h3 {
    text-decoration: underline;
    text-decoration-color: #21313f; /* Couleur du soulignement */
}

h1
{
    text-align: center;
}

p
{
    text-align: justify;
}
.Reference
{
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-style: italic;
}

.p_Reference
{
    text-align: right;
    margin-right: 50px;
    clear: both;
}

main
{
    margin: 20px;
    flex: 1;
}

body > main > ul > li > a{
    color: black;
}

.ancres
{
    list-style-type: none;
}

.ancres li::before
{
    content: "#"; /* Affiche le compteur suivi de # */
    margin-right: 10px;
    color: #000;
}





/*=================================== IMAGES ===================================*/

main img
{
    border-radius: 15px;
    border: solid black 1px;
}


.container {
    overflow: hidden; /* Pour contenir les éléments flottants */
    margin: 20px;
}

.image_droite {
    float: right;
    margin-left: 20px; 
    margin-bottom: 20px; 
    width: 30%; 
    height: auto; 
}

.texte_gauche {
    text-align: justify;

}




.image_gauche {
    float: left; 
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%; 
    height: auto;
}

.texte_droite {
    text-align: justify;
    overflow: hidden;
}
.styled-list {
    margin-left: 20px;
    text-align: justify;
}

.styled-list_image
{
    margin-left: 32%;
    text-align: justify; 
}

.styled-list_image li
{
    margin-bottom: 10px;
}

.styled-list li {
    margin-bottom: 10px;
}

#image_web
{
    width: 40%;
    height: auto;
}

#image_reduite
{
    width: 20%;
    height: auto;
}

#image_centre
{
    display: block;
    margin: 0 auto;
}

/*=================================== FIN IMAGES ===================================*/

/*================================ VERSION TELEPHONE ================================*/

/* Media query pour téléphone */
@media (max-width: 768px) {

    h1 {
        text-align: center;
        font-size: 1.8em; /* Ajustement de la taille des grands titres pour mobile */
    }

    h2 {
        font-size: 1.6em; /* Taille ajustée pour les sous-titres */
    }

    h3 {
        font-size: 1.4em; /* Taille ajustée pour les petits titres */
    }

    p {
        text-align: justify;
    }

    /* Ajustement des images pour qu'elles soient en dessous du texte */
    .image_droite, .image_gauche {
        float: none; /* Supprime le flottement pour que l'image soit en dessous du texte */
        display: block;
        margin: 20px auto; /* Centrage des images avec marges ajustées */
        width: 80%; /* Taille réduite pour les images */
        height: auto; 
    }

    #image_web, #image_reduite {
        width: 60%; /* Taille des images ajustée pour les téléphones */
        margin: 20px auto;
        display: block;
        height: auto;
    }

    .styled-list, .styled-list_image {
        margin-left: 10px; /* Réduction des marges pour les listes à puces */
        text-align: justify;
    }

    .styled-list li, .styled-list_image li {
        margin-bottom: 5px; /* Réduction de l'espacement entre les éléments de liste */
    }

    /* Ajustement pour l'image centrée */
    #image_centre {
        width: 60%; /* Ajustement de la taille pour les mobiles */
        height: auto;
    }

}

